.w-400 {
  width: 400px;
}

.card-game-buttons .btn{
  margin-right: 10px;
}

/** bootstrap overwrite */
.btn-success, .btn-primary, .btn-danger {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  opacity: .65;
}

.btn-success:hover, .btn-primary:hover, .btn-danger:hover {
  opacity: 0.9;
}

body {
  font-size: 1.2rem;
}