.btn-success, .btn-primary, .btn-danger {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  opacity: 0.65;
}

.ui-widget-content {
  background-color: initial;
  border: initial;
  color: initial;
}