$panels-background: #040911;
$panels-border-color: rgba(47, 69, 101, 0.623);
$panels-spacer: 10px;

// $panel-notifications-width: calc(min(25vw, 360px));
$panel-notifications-width: 308px;
$panel-notifications-bottom: 146px;
$panel-notifications-right: 11px;

$panel-buttons-font-color: rgb(255, 255, 255);
$panel-buttons-bg-color: #1b4d76;
$panel-buttons-border-color: #667480;

$dark-grey: rgba(53, 58, 64, 1); // подогнал под bootstrap table-dark
$additional-color: #424242;
$light-grey: rgba(180, 180, 180, 0.705);
$white: rgba(255, 255, 255, 0.842);

// // cтили turn
$turn-widget-bottom-spacer: 14px; // 14px; // такая же переменная дублируется в config/ui.js

$turn-menu-right-spacing: 20px;
$turn-header-color: #294377;
$turn-main-color: #0c1e35;
$turn-header-text-color: #c3c3c3;
$turn-paragraph-text-color: #dbdbdb;
$turn-upper-menu-color: #ffffff;
$turn-corners-radius: 5px;
$turn-border-thickness: 2px; // такая же переменная дублируется в config/ui.js
$turn-border-color: rgba(98, 143, 211, 0.623);
$turn-changed-border-color: rgba(249, 157, 30, 0.623);

$turn-header-link-color: #78adff;
$turn-header-link-color-hover: #add8e6;
$turn-header-date-color: #c3c2c2;

$turn-scrollbar-color: #183968;
$turn-scrollbar-margin: 8px; // такая же переменная дублируется в config/ui.js

$turn-edit-icon-color: #16272c;
$turn-delete-icon-color: #d72929;
$turn-scissor-icon-color: #16272c;
$turn-copy-icon-color: #16272c;

$turn-upper-corners-radius: 14px;

$turn-upper-menu-lift: 15px; //    1/2 of height
$turn-upper-menu-padding-left: 10px;
$turn-upper-menu-padding-right: 10px;

$turn-header-padding-top: 2px;
$turn-header-padding-right: 15px;
$turn-header-padding-bottom: 6px;
$turn-header-padding-left: 15px;

$turn-header-text-padding-top: 5px;
$turn-header-text-padding-bottom: 6px;

$turn-header-url-date-margin-bottom: 5px;
$turn-header-date-font-size: 16px;
$turn-date-and-url-bottom-spacer: 2px;

$turn-pic-padding-top: $turn-widget-bottom-spacer;
$turn-pic-padding-right: $turn-widget-bottom-spacer;
$turn-pic-padding-bottom: $turn-widget-bottom-spacer;
$turn-pic-padding-left: $turn-widget-bottom-spacer;

$turn-text-padding-top: 10px;
$turn-text-padding-right: 10px;
$turn-text-padding-bottom: 15px;
$turn-text-padding-left: 15px;
$turn-quote-border-radius: 5px; // такая же переменная дублируется в config/ui.js

$turn-pic-radius: 10px;

$turn-header-text-font-size: 24px;
$turn-header-text-font-weight: 500;

$turn-main-text-font-size: 18px;
$turn-main-text-font-weight: 400;

$first-circle-width: 300px;
$first-circle-height: 300px;
$first-circle-color: #184269;
$first-circle-top: 0px;
$first-circle-left: 0px;
$first-circle-blur: 130px;

$second-circle-width: 300px;
$second-circle-height: 300px;
$second-circle-color: #183e63;
$second-circle-top: -160px;
$second-circle-right: 500px;
$second-circle-blur: 130px;

$third-circle-width: 300px;
$third-circle-height: 300px;
$third-circle-color: #143656;
$third-circle-bottom: 0px;
$third-circle-right: 0px;
$third-circle-blur: 130px;

$map-background-color: #181616;

$hovered-item-bg: rgba(59, 121, 163, 0.3);

$dark-grey: rgba(53, 58, 64, 1); // подогнал под bootstrap table-dark
$light-grey: rgba(180, 180, 180, 0.705);

$table-dark-color1: blue; // #454d55;
$table-dark-color2: red; // #554d55;

$white: rgba(255, 255, 255, 0.842);
$corners-radius: 9px;
