html,
body {
  height: 100%;
}

.translucent .textBox {
  opacity: 0.4;
}

.textBox {
  cursor: move;
  transition: opacity 0.25s;
  min-width: 300px;
  /* max-width: 2000px; */
  min-height: 50px;
  /* max-height: 3000px; */
  /* width: 600px;
    height: 600px; */
  border: 1px black;
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0) !important;
  /* overflow: hidden; */
  z-index: 1;
}

.textBox.ui-widget-content {
  border: none;
}

#image-url-wrapper {
  display: none;
}

.paragraphText {
  background-color: whitesmoke;
  min-height: 0;
  width: 100%;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 5px 15px 15px 15px;
  font-size: 1.15rem;
  border-bottom-left-radius: 10px;
}

.headerText {
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0;
  min-height: 0;
  /* max-height: 30%;  */
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  padding: 7px 15px 7px 15px;
  font-size: 1.45rem;
}

.gameMenu {
  height: 100%;
  margin: 0;
  width: 90%;
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
button {
  margin-left: 6px !important;
  font-size: 1.1rem !important;
}

.red-border-to-quote {
  outline: 3px solid red;
  padding-left: 3px;
  padding-right: 3px;
}

#lines.front-elements {
  z-index: 3;
}

#gameInfoPanel {
  transition: 0.3s;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: 4;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 15px;
}

#gameInfoPanel.hidden {
  transform: translate(-50%, -100%);
}

.p0 {
  padding: 0;
}

#notificationPanel {
  position: fixed;
  width: calc(min(25vw, 400px));
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

#notificationPanel .notification {
  /* background: #fff; */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  transition: 0.2s;
}

#notificationPanel .notification .hidden {
  opacity: 0;
}

#notificationPanel .notification .not-title {
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  padding-left: 10px;
  padding-right: 5px;
  color: rgb(143, 173, 255);
  font-size: 1.2rem;
}

#notificationPanel .notification .not-text {
  padding-left: 5px;
  padding-right: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  color: rgba(255, 255, 255, 0.712);
  font-size: 1.2rem;
}

/* #minimap {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 25vh;
  width: 20vw;
  z-index: 4;
}

#minimap video {
  height: 80%;
  width: 100%;
} */

.game-info-table tbody tr:first-child td:first-child {
  width: 25%;
}

.ml-12px {
  margin-left: 12px;
}

.game-info-table .edit-btn {
  transition: 0.2s;
  font-size: 22px;
  display: inline-block;
  margin-left: 14px;
  cursor: pointer;
  transform: translateY(1px);
}
.game-info-table a.edit-btn {
  color: rgb(160, 160, 160);
  margin-top: 0px;
}
.game-info-table a.edit-btn:hover {
  color: rgb(58, 58, 58);
}

/* .minimap-panel {
  position: fixed;
  width: 17vw; */
/* height: 25vh; */
/* right: 0;
  bottom: 0;
} */

/* .minimap-panel__refresh-btn {
  transform: translateY(-120%);
  transform: translateX(-10%);
  display: none; */
/* Николай - пока скрыл кнопку Refresh */
/* } */

.rec-label {
  position: fixed;
  background: rgba(255, 0, 0, 0.8);
  border-radius: 15px;
  width: 30px;
  height: 30px;
  top: 26px;
  right: 103px;
  z-index: 5;
}

.rec-text {
  position: fixed;
  color: rgba(255, 0, 0, 0.8);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 65px;
  z-index: 5;
  font-size: 1.4rem;

  /* content: 'REC'; */
  /* color: rgba(255, 0, 0, 0.8);
  z-index: 5;
  margin-left: 30px;
  margin-top: -20px; */
}
