.gameFieldWrapper {
  height: 100vh;
  /* overflow-x: auto;
    overflow-y: auto; */
  overflow: hidden;
  background: url(/img/doodle2.png) #595959;
  //   url(/img/doodle2.png) // вставить между background и #59...
  background-size: 800px;
  /* border: 1px solid blue; */
}

#gameBox {
  /* min-height: 1000px; */
  border: none;
  width: 100vw;
  /* Было 100%, линии сбивались */
  height: 100vh;
  /* Было 100%, линии сбивались */
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  //    #595959;
  /* #728db8; */
}
