/* REACT TURN */

$black-color: rgb(0, 0, 0);

.react-turn-new {
  position: absolute;
  cursor: move;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  &.dont-show-header {
    &:hover {
      .headerTextActions {
        transform: translateY(15%);
      }
    }
    .paragraphText {
      border-top-left-radius: $corners-radius;
      border-top-right-radius: $corners-radius;
    }
    .headerText {
      position: absolute;
      top: 0;
      background-color: rgba(255, 255, 255, 0);
      // transform: translateY(-100%);
      justify-content: flex-end;
      z-index: 2;
    }
    .headerTextTitle {
      display: none;
    }
    .headerTextActions {
      transition: 0.25s;
      transform: translateY(-150%);
      margin-right: 20px;
    }
  }
  .picture-content {
    z-index: 1;
    img {
      width: 100%;
    }
  }
  .video > div {
    // > означает первый child
    // width: 100%
    height: 100%;
  }
  .paragraphText {
    // flex: 1;
    margin-bottom: 0;
  }
}

.react-turn {
  position: absolute;
  cursor: move;
  /* border: 2px solid blue; */
  z-index: 2;
  &.dont-show-header {
    &:hover {
      .headerTextActions {
        transform: translateY(15%);
      }
    }
    .paragraphText {
      border-top-left-radius: $corners-radius;
      border-top-right-radius: $corners-radius;
    }
    .headerText {
      position: absolute;
      top: 0;
      background-color: rgba(255, 255, 255, 0);
      // transform: translateY(-100%);
      justify-content: flex-end;
    }
    .headerTextTitle {
      display: none;
    }
    .headerTextActions {
      transition: 0.25s;
      transform: translateY(-150%);
      margin-right: 20px;
    }
  }

  &.zero-point {
    visibility: hidden;
  }

  .media-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video iframe {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .picture-content {
    width: 100%;
    z-index: 1;
    /* height: 100%; */
    background: $black-color;
    img {
      width: 100%;
    }
  }
}

.react-wrapper {
  width: 100%;
  display: flex;

  // #modalBackground {
  /* display: block; */
  // }
}

.turn-overlay {
  /* background: rgba(0, 0, 0, 0.7); */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* visibility: hidden; */
}

.headerTextActions {
  display: flex;
  align-items: center;
  z-index: 1;
}

.headerText {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .edit-btn,
  .delete-btn {
    transition: 0.2s;
    font-size: 22px;
    display: inline-block;
    margin-left: 14px;
    cursor: pointer;
  }

  a.delete-btn,
  a.edit-btn {
    font-size: 21px;
    position: relative;
    top: -0.5px;

    color: rgb(160, 160, 160);
    margin-top: 0px;
  }
  a.edit-btn:hover {
    color: rgb(58, 58, 58);
  }
  a.delete-btn:hover {
    color: rgb(255, 92, 92);
  }
}
.paragraphText {
  background-color: whitesmoke;
  min-height: 0;
  width: 100%;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 5px 15px 15px 15px;
  font-size: 1.15rem;
  // border-bottom-left-radius: 10px;
}

// .react-turn .media-wrapper { вместо нестинга CSS сделали нестинг SASS
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .video {
//   position: relative;
// }

.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0);
}

.ui-resizable-resizing .iframe-overlay {
  height: 100%;
}

.textBox .picture-content {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.textBox.comment-type .paragraphText {
  height: 100%;
  overflow-y: hidden;
}

.textBox.comment-type .paragraphText,
.textBox.comment-type .headerText {
  background: rgb(236, 237, 154);
}

/* два вместе, это два класса вместе, а пробел, это вложенность */

.ql-container {
  font-size: 1.35rem;
  overflow-y: auto;
  max-height: 65vh;
}

/* подписи для ссылки и для даты */
.left-bottom-label,
.right-bottom-label {
  position: absolute;
  /* bottom: -21px; */
  bottom: 5px;
  transform: translateY(100%);
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
}

.left-bottom-label {
  left: 0;
}

.left-bottom-label a {
  color: #fff;
}

.right-bottom-label {
  right: 0;
}

.quote-rectangle {
  position: absolute;
  cursor: pointer;
  transition: 1s;
}

.top-quotes-counter,
.bottom-quotes-counter {
  position: absolute;
  right: 0px;
  background-color: red;
  color: white;
  font-size: 1.1rem;
  min-width: 20px;
  text-align: center;
}

.top-quotes-counter {
  transform: translate(100%, -50%);
}
.bottom-quotes-counter {
  bottom: 0px;
  transform: translate(100%, 50%);
}
