@tailwind base;
@tailwind components;
@tailwind utilities;
@import './standard.scss';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply dark:bg-dark-light bg-light;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  @apply dark:bg-[#0f0f0f] bg-gray-300;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
}

:root {
  --main: #294377;
  --main-dark: #0c1e35;
  --main-light: #426498;

  --dark: #070d11;
  --light: #f3f4f6;

  --bg-main: var(--dark);
}

html.light {
  --main-dark: var(--light);
  --main: #294377;
  --main-light: #426498;
}

html.dark {
  --main: #294377;
  --main-dark: #0c1e35;
  --main-light: #426498;
}

body {
  @apply dark:bg-dark text-main-text;
}

@layer components {
  .header-height {
    height: 60px;
  }

  .path-color {
    path {
      @apply fill-white;
    }
  }
}
