.base-card_turn {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .base-card__header {
    .lines-limiter {
      line-clamp: 2;
      box-orient: vertical;
      display: inline-block;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .base-card__body {
    flex: 1;
    overflow-y: hidden;
  }

  .base-card__widget {
    @apply mb-3;
  }

  .base-card__roller {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
  }

  &:hover {
    .base-card__roller {
      transform: translateY(0);
    }
  }
}