// @todo: заменить dark и light цвета
.vertical-split {
  width: 30px;
  @apply relative flex justify-center items-center h-full select-none cursor-pointer;
  &__icon {
    @apply flex justify-center items-center rounded-full w-[25px] h-[25px] text-sm;
    background-color: var(--bg-base);
    border: 2px solid var(--border-body-divider);
  }

  &__divider {
    @apply absolute left-[50%] translate-x-[-50%] h-full w-[2px] z-[-1];
    background-color: var(--border-body-divider);
  }

  &.game-modal__split {
    transform: translateX(-50%);
    height: calc(100% - 40px);
    margin-top: 20px;
  }
}

// @todo: remove
.tmp-close-field {
  margin-left: 50px;
  flex: 1;
  height: 100%;
}