.w-400 {
  width: 400px;
}

.card-game-buttons .btn {
  margin-right: 10px;
}

/** bootstrap overwrite */
.btn-success,
.btn-primary,
.btn-danger {
  color: $panel-buttons-font-color;
  background-color: $panel-buttons-bg-color;
  border-color: $panel-buttons-border-color;
  opacity: 0.65;
}

.btn-success:hover,
.btn-primary:hover,
.btn-danger:hover {
  opacity: 0.9;
}

.btn-accent {
  color: white;
  background-color: #ff8503;
  border-color: $panel-buttons-border-color;
  opacity: 1;
  &:hover {
    background-color: #d27512;
    color: white;
  }
}

body {
  font-size: 1.3rem;
  /* 1.2rem; */
}

/*body {
    background: #070D11 url(/images/blur.png) center 0 no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
}*/

.game-bg {
  //background: #070D11 url(/images/blur.png) center 0 no-repeat;
  //background-size: 1600px 700px;
  //background-size: cover;
  position: relative;
  //z-index: 100;
  background: #070d11;
}

.circle {
  position: absolute;
  background: $second-circle-color;
  height: $second-circle-height;
  width: $second-circle-width;
  filter: blur($second-circle-blur);
  border-radius: 50%;
  top: $second-circle-top;
  right: $second-circle-right;
  z-index: 1;
}

.game-bg:before {
  position: absolute;
  top: $first-circle-top;
  width: $first-circle-width;
  height: $first-circle-height;
  content: '';
  left: $first-circle-left;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 1px #143656;
  background: $first-circle-color;
  filter: blur($first-circle-blur);
}

.game-bg:after {
  position: absolute;
  right: $third-circle-right;
  width: $third-circle-width;
  height: $third-circle-height;
  content: '';
  bottom: $third-circle-bottom;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 1px #143656;
  background: $third-circle-color;
  filter: blur($third-circle-blur);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  width: 430px;
  padding: 20px;
}
.games-list {
  &__item {
    cursor: pointer;
  }
  &__turns-count {
    width: 12%;
  }
  &__visibility {
    width: 15%;
  }
}

.map-icon {
  position: absolute;
  bottom: 5px;
  left: 5px;
  cursor: pointer;
}

.percent-map-wrap {
  text-align: center;
  color: #8097a1;
  display: flex;
  align-items: center;
  // justify-content: start;
  margin: 0px 0 5px 0;
  padding-left: 30px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.map-icon-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.map-icon-hover img {
  display: block;
  margin: 0 0 5px 0;
}

.map-icon path {
  stroke: #8097a1;
}
.map-minus path,
.map-plus path {
  fill: #8097a1;
}

.map-icon:hover path {
  stroke: #ffffff;
}
.map-minus,
.map-plus {
  &:hover {
    path {
      fill: #ffffff;
    }
  }
}

.map-focus {
  background: rgba(0, 255, 255, 0.06);
  rx: 2px;
  backdrop-filter: blur(4px);
  border-radius: 4px;
}

.map-wrap {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.32));
  border-radius: 10px;
  background: $map-background-color;
}

.map-minus {
  margin: 0 12px;
  cursor: pointer;
}

.map-plus {
  margin: 0 12px;
  cursor: pointer;
}

.map-percent-value {
  font-size: 16px !important;
}
