.#{$prefix}-btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-radius: $button-border-radius;
  margin: 0;
  padding: $button-padding;
  outline: none;
  font-size: $button-font-size;
  line-height: $button-line-height;

  &-left {
    svg,
    img {
      margin-right: $button-icon-spacing;
    }
  }

  &-right {
    svg,
    img {
      margin-left: $button-icon-spacing;
    }
  }

  svg,
  img {
    vertical-align: baseline;
  }

  &-main {
    color: $button-color;
    background-color: $button-bg-color;
    border-color: $button-border-color;
  }

  &-border {
    border-width: $button-border-width;
    border-style: solid;
  }

  &-icon {
    padding: $button-icon-padding;
  }

  &-sm {
    padding: $button-sm-padding;
  }

  &-lg {
    padding: $button-lg-padding;
  }

  &-xl {
    padding: $button-xl-padding;
  }
}
