.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: $dropdown-border-radius;
  margin: 0;
  padding: $dropdown-padding;
  outline: none;
  background-color: $dropdown-label-bg-color;

  &-label {
    font-size: $dropdown-font-size;
    line-height: $dropdown-line-height;
    color: $dropdown-label-color;
    text-align: center;
    cursor: pointer;

    svg {
      vertical-align: baseline;
    }

    svg,
    img,
    span,
    i {
      & + .label {
        margin-right: $dropdown-icon-spacing;
      }
    }

    .label {
      & + svg,
      & + img,
      & + span,
      & + i {
        margin-left: $dropdown-icon-spacing;
      }
    }
  }

  &-list {
    position: absolute;
    top: calc(100% + $dropdown-offset);
    left: 0;
    background: $dropdown-list-bg-color;
    border-radius: $dropdown-border-radius;
    padding: $dropdown-padding;
    opacity: 0;
    visibility: hidden;
    transition: $transition-base;
    width: $dropdown-width;
    color: $dropdown-list-color;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
}
