.base-card {
  border-radius: var(--panel-border-radius);
  border-color: var(--border-button);
  background-color: var(--bg-panel);
  @apply border-2 overflow-visible;

  &__header {
    background-color: var(--bg-button-hover);
    color: var(--text-base-2);
    // border-top-left-radius: var(--panel-border-radius);
    // border-top-right-radius: var(--panel-border-radius);
  }

  &__body {
    @apply flex flex-col;
  }
}