body {
  background-color: #3c3c3c;
  color: #dbdbdb;
}

a {
  color: #0a58ca;
  cursor: pointer;
  &:hover {
    color: #1890ff;
  }
}

button {
  cursor: pointer;
}

// GAME BG
.game-bg {
  background: #070d11;
}

.main-dashboard__sidebar {
  img {
    width: 100%;
  }
}
// @todo: circles
// .circle {
//   position: absolute;
//   background: $second-circle-color;
//   height: $second-circle-height;
//   width: $second-circle-width;
//   filter: blur($second-circle-blur);
//   border-radius: 50%;
//   top: $second-circle-top;
//   right: $second-circle-right;
//   z-index: 1;
// }

// .game-bg:before {
//   position: absolute;
//   top: $first-circle-top;
//   width: $first-circle-width;
//   height: $first-circle-height;
//   content: '';
//   left: $first-circle-left;
//   border-radius: 50%;
//   box-shadow: 0px 0px 8px 1px #143656;
//   background: $first-circle-color;
//   filter: blur($first-circle-blur);
// }

// .game-bg:after {
//   position: absolute;
//   right: $third-circle-right;
//   width: $third-circle-width;
//   height: $third-circle-height;
//   content: '';
//   bottom: $third-circle-bottom;
//   border-radius: 50%;
//   box-shadow: 0px 0px 8px 1px #143656;
//   background: $third-circle-color;
//   filter: blur($third-circle-blur);
// }

// @import '../../modules/game/scss/style.scss';

$panels-background: #040911;
$panels-border-color: rgba(47, 69, 101, 0.623);
$panels-spacer: 10px;

$panel-notifications-width: 308px;
$panel-notifications-bottom: 146px;
$panel-notifications-right: 11px;

$dark-grey: rgba(53, 58, 64, 1); // подогнал под bootstrap table-dark
$additional-color: #424242;
$light-grey: rgba(180, 180, 180, 0.705);
$white: rgba(255, 255, 255, 0.842);
// @import '../../modules/panels/scss/style.scss';
@import './panels.scss';


/** bootstrap overwrite */
.btn {
  cursor: pointer;
  border-radius: 0.375rem;
  border: 1px solid #0d6efd;
  &:hover {
    background-color: #0d6efd;
  }
}

$panel-buttons-font-color: rgb(255, 255, 255);
$panel-buttons-bg-color: #1b4d76;
$panel-buttons-border-color: #667480;
.btn-success,
.btn-primary,
.btn-danger {
  color: $panel-buttons-font-color;
  background-color: $panel-buttons-bg-color;
  border-color: $panel-buttons-border-color;
  opacity: 0.65;
}

.btn-success:hover,
.btn-primary:hover,
.btn-danger:hover {
  opacity: 0.9;
}

.btn-accent {
  color: white;
  background-color: #ff8503;
  border-color: $panel-buttons-border-color;
  opacity: 1;

  &:hover {
    background-color: #d27512;
    color: white;
  }
}

.btn-group-sm>.btn,
.btn-sm {
  // --bs-btn-padding-y: 0.25rem;
  // --bs-btn-padding-x: 0.5rem;
  // --bs-btn-font-size: 0.875rem;
  // --bs-btn-border-radius: 0.25rem;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}