.actions.panel {
  bottom: $panels-spacer;
  right: $panels-spacer;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  button,
  .empty-button-space {
    height: 30px;
    width: 90px;
    text-align: center;
    margin: 5px;
    font-size: 14px;
    line-height: 1;
  }
}
.panel-settings-btn {
  position: fixed;
  right: $panels-spacer;
  top: 0;
  font-size: 30px;
  color: rgba(245, 245, 245, 0.76);
  opacity: 0;
  padding: 10px 10px 0px 0px;
  transition: 0.3s;
  cursor: pointer;
  z-index: 10;
  &:hover {
    opacity: 1;
  }
}
