.panel.position_notifications {
  position: fixed;
  width: calc(min(25vw, 360px));
  bottom: 191px;
  right: 10px;
  border: none;
  border-radius: unset;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
  .notification {
    /* background: #fff; */
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    // transition: 0.2s;
    &.old {
      opacity: 0;
    }
    .title {
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      padding-left: 10px;
      padding-right: 5px;
      color: rgb(143, 173, 255);
      font-size: 1.2rem;
    }
    .text {
      padding-left: 5px;
      padding-right: 5px;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: center;
      color: rgba(255, 255, 255, 0.712);
      font-size: 1.2rem;
    }
  }
}
