.w-400 {
  width: 400px;
}

.card-game-buttons .btn {
  margin-right: 10px;
}

/** bootstrap overwrite */
.btn-success,
.btn-primary,
.btn-danger {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  opacity: 0.65;
}

.btn-success:hover,
.btn-primary:hover,
.btn-danger:hover {
  opacity: 0.9;
}

body {
  font-size: 1.3rem;
  /* 1.2rem; */




}

/*body {
    background: #070D11 url(/images/blur.png) center 0 no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
}*/


.game-bg {
    //background: #070D11 url(/images/blur.png) center 0 no-repeat;
    //background-size: 1600px 700px;
    //background-size: cover;
    position: relative;
    //z-index: 100;
    background: #070D11;
}

.circle {
    position: absolute;
    background: $second-circle-color;
    height: $second-circle-height;
    width: $second-circle-width;
    filter: blur($second-circle-blur);
    border-radius: 50%;
    top: $second-circle-top;
    right: $second-circle-right;
    z-index: 1;
}

.game-bg:before {
    position: absolute;
    top: $first-circle-top;
    width: $first-circle-width;
    height: $first-circle-height;
    content: '';
    left: $first-circle-left;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px #143656;
    background: $first-circle-color;
    filter: blur($first-circle-blur);
}

.game-bg:after {
    position: absolute;
    right: $third-circle-right;
    width: $third-circle-width;
    height: $third-circle-height;
    content: '';
    bottom: $third-circle-bottom;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px #143656;
    background: $third-circle-color;
    filter: blur($third-circle-blur);
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  width: 430px;
  padding: 20px;
}
.games-list {
  &__item {
    cursor: pointer;
  }
  &__turns-count {
    width: 12%;
  }
  &__visibility {
    width: 15%;
  }
}
