/* REACT TURN */

.add-edit-form.maximized {
  .panel-cell.mt-0 {
    margin-top: 5px !important;
  }
}

$black-color: rgb(0, 0, 0);

.translucent-field {
  .react-turn-new {
    opacity: 0.4;
    &.ui-draggable-dragging {
      opacity: 1;
    }
  }
}

.wrapperParagraphText::-webkit-scrollbar {
  width: 0;
  height: 8px;
}

.wrapperParagraphText {
  padding: 0 $turn-scrollbar-margin 0 0;
  display: block;
  overflow-y: hidden; //scroll;
  background: $turn-main-color;
  margin: 0;
  border-top-left-radius: $turn-upper-corners-radius;
  border-top-right-radius: $turn-upper-corners-radius;
  flex: 1;
}

.comment .wrapperParagraphText {
  // padding: 0 $turn-scrollbar-margin 0 0;
  display: block;
  overflow-y: scroll;
  background: rgb(236, 237, 154);
  margin: 0;
}

.picture-react-crop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  // @learn BEM block element modifier спецификация
  .ReactCrop__crop-selection {
    border: none;
    // @include red-border; // @learn mixin
  }
}

.react-wrapper {
  width: 100%;
  display: flex;
}

.turn-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.headerTextActions {
  display: flex;
  align-items: center;
  z-index: 1;
}

.headerText {
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
}
.paragraphText {
  // font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Apple Color Emoji',
    'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-style: normal;
  // font-stretch: semi-condensed;
  background-color: $turn-main-color;
  min-height: 0;
  width: 100%;
  max-height: 100%;
  // flex: 1;
  overflow-x: auto;
  overflow-y: scroll;
  // padding: $turn-text-padding-top $turn-text-padding-right
  //   $turn-text-padding-bottom $turn-text-padding-left;
  padding: 0 $turn-text-padding-right 0 $turn-text-padding-left;
  font-size: 1.15rem;
  color: $turn-paragraph-text-color;
  font-weight: $turn-main-text-font-weight;
  font-size: $turn-main-text-font-size;
  line-height: 1.3125; //120%;
  // border-bottom-left-radius: 10px;
}

.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0);
}

.ui-resizable-resizing .iframe-overlay {
  height: 100%;
}

.textBox .picture-content {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.textBox.comment-type .paragraphText {
  height: 100%;
  overflow-y: hidden;
}

.textBox.comment-type .paragraphText,
.textBox.comment-type .headerText {
  background: rgb(236, 237, 154);
}

/* два вместе, это два класса вместе, а пробел, это вложенность */

.ql-container {
  font-size: 1.35rem;
  overflow-y: auto;
  // max-height: 65vh;
}
/* подписи для ссылки и для даты */
.left-bottom-label,
.right-bottom-label {
  position: absolute;
  /* bottom: -21px; */
  bottom: 5px;
  transform: translateY(100%);
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
}

.left-bottom-label {
  left: 0;
}

.left-bottom-label a {
  color: #fff;
}

.right-bottom-label {
  right: 0;
}

.quote-rectangle {
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
  border-radius: $turn-quote-border-radius; // дублируется кроме переменных SCSS в общих переменных config/ui.js
}

.top-quotes-counter,
.bottom-quotes-counter {
  position: absolute;
  right: 0px;
  background-color: red;
  color: white;
  font-size: 1.1rem;
  min-width: 20px;
  text-align: center;
}

.top-quotes-counter {
  transform: translate(100%, -50%);
}

.bottom-quotes-counter {
  bottom: 0px;
  transform: translate(100%, 50%);
}
.bottom-date-and-sourceurl {
  .flex_mod {
    margin-top: 6px;
    margin-bottom: 0px;
  }
}

.flex_mod {
  display: flex;
  margin-bottom: $turn-header-url-date-margin-bottom;
  align-items: center;
}
.flex_mod_site {
  color: $turn-header-link-color !important;
  text-decoration: none;
  margin: 0 12px 0 0;
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
    color: $turn-header-link-color-hover !important;
  }
}

.mod_date {
  // background: url(/images/mod_date.svg) 0 0 no-repeat;
  // padding: 0 0 1px 20px;

  color: $turn-header-date-color;
}

.flex_mod_site,
.mod_date {
  font-weight: 500;
  font-size: $turn-header-date-font-size;
  line-height: 100%;
  display: inline-block;
  span {
    padding-left: 4px;
  }
}

.mod_wrap {
  position: relative;
  width: 690px;
  background: #252526;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 2px 12px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
  margin: 40px 0 0 0;
}

.head_mod {
  background: #1e1e1e;
  border-radius: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  padding: 19px 24px 11px 24px;
}

.head_mod_title {
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 11px;
}

.body_mod_wrap {
  padding: 16px 9px 24px 0;
}

.body_mod {
  padding: 0px 24px 0px 24px;
  height: 500px;
  overflow-y: scroll;
  background: #252526;
  border-radius: 0 0 20px 20px;
}

.turn-img {
  border-radius: $turn-pic-radius;
}

.body_mod {
  margin-bottom: 16px;

  img {
    width: 100%;
  }
}

.text_mod {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #cbcbcb;
}

.mod_icon_wrap {
  position: absolute;
  right: $turn-menu-right-spacing;
  width: auto;
  text-align: center;
  //background: #8A8A8A;
  background: $turn-upper-menu-color;
  border-radius: 20px;
  padding: 0 $turn-upper-menu-padding-right 0 $turn-upper-menu-padding-left;
  top: -$turn-upper-menu-lift;
  opacity: 0;
  transition: 0.25s;

  font-size: 24px;
  // font-family: 'Nunito', 'sans-serif';
  font-style: normal;
  font-weight: 600;
  color: #ffffff;

  .info-btn,
  .clone-btn,
  .edit-btn,
  .cut-btn,
  .compress-btn,
  .delete-btn {
    transition: 0.2s;
    // font-size: 22px;
    display: inline-block;
    //margin-left: 14px;
    cursor: pointer;
  }

  a.info-btn,
  a.delete-btn,
  a.edit-btn,
  a.cut-btn,
  a.compress-btn,
  a.clone-btn {
    font-size: 21px;
    position: relative;
    top: -0.5px;
    color: #6e7e90;
    margin-top: 0px;
  }

  a.info-btn:hover {
    color: rgb(103, 103, 204);
  }

  a.clone-btn:hover,
  a.edit-btn:hover,
  a.compress-btn:hover {
    color: rgb(58, 58, 58);
  }

  a.delete-btn:hover,
  a.cut-btn:hover {
    color: #d72929;
  }
}

.mod_icon_wrap a {
  display: inline-block;
  margin: 0 4px;
}

.edit-btn path {
  fill: $turn-edit-icon-color;
}

.cut-btn path {
  fill: $turn-scissor-icon-color;
}

.delete-btn path {
  fill: $turn-delete-icon-color;
}

.clone-btn path {
  fill: $turn-copy-icon-color;
}

.clone-btn:hover path {
  fill: rgb(139, 138, 138);
}

.edit-btn:hover path {
  fill: rgb(139, 138, 138);
}

.delete-btn:hover path {
  fill: red;
}

.cut-btn:hover path {
  fill: red;
}

.hide-controls .mod_icon_wrap {
  /*opacity: 0;
    transform: translateY(-100%);*/
  display: none;
}

.mod_icon_wrap {
  /*opacity: 1;
    transform: translateY(0%);
    transition: all 0.3s;*/
  display: flex;
  height: 30px;
  align-items: center;
  z-index: 2;
}
