// $dark-grey: rgba(49, 51, 51, 1); // original
// $dark-grey: rgba(37, 41, 46, 1);
$dark-grey: rgba(53, 58, 64, 1); // подогнал под bootstrap table-dark
$additional-color: #424242;
// $dark-grey: rgb(8, 103, 158);
// $dark-table-color: $dark-grey;
$light-grey: rgba(180, 180, 180, 0.705);
$white: rgba(255, 255, 255, 0.842);
$panels-spacer: 10px;


// cтили turn

$turn-menu-right-spacing: 27px;
$turn-header-color: #1B3238;
$turn-main-color: #F0DEC6;
$turn-header-text-color: #FFFFFF;
$turn-paragraph-text-color: #654D33;
$turn-upper-menu-color: #375E68;
$turn-corners-radius: 20px;

$turn-header-link-color: #6067F9;
$turn-header-link-color-hover: #add8e6;
$turn-header-date-color: #B9C3C5;

$turn-scrollbar-color: #D1AF81;

$turn-edit-icon-color: #16272C;
$turn-delete-icon-color: #D72929;
$turn-scissor-icon-color: #16272C;
$turn-copy-icon-color: #16272C;

$turn-scrollbar-margin: 12px;
$turn-upper-corners-radius: 20px;

$turn-upper-menu-lift: 20px;
$turn-upper-menu-padding-left: 12px;
$turn-upper-menu-padding-right: 12px;

$turn-header-padding-top: 6px;
$turn-header-padding-right: 15px;
$turn-header-padding-bottom: 6px;
$turn-header-padding-left: 15px;

$turn-header-text-padding-top: 19px;
$turn-header-text-padding-bottom: 6px;

$turn-header-url-date-margin-bottom: 5px;

$turn-pic-padding-top: 24px;
$turn-pic-padding-right: 24px;
$turn-pic-padding-bottom: 24px;
$turn-pic-padding-left: 24px;

$turn-text-padding-top: 5px;
$turn-text-padding-right: 15px;
$turn-text-padding-bottom: 15px;
$turn-text-padding-left: 25px;














