// $dark-grey: rgba(49, 51, 51, 1); // original
// $dark-grey: rgba(37, 41, 46, 1);
$dark-grey: rgba(53, 58, 64, 1); // подогнал под bootstrap table-dark
$additional-color: #424242;
// $dark-grey: rgb(8, 103, 158);
// $dark-table-color: $dark-grey;
$light-grey: rgba(180, 180, 180, 0.705);
$white: rgba(255, 255, 255, 0.842);
$panels-spacer: 10px;

// cтили turn

$turn-menu-right-spacing: 27px;
$turn-header-color: #1b3238;
$turn-main-color: #f0dec6;
$turn-header-text-color: #ffffff;
$turn-paragraph-text-color: #654d33;
$turn-upper-menu-color: #375e68;
$turn-corners-radius: 20px;

$turn-header-link-color: #6067f9;
$turn-header-link-color-hover: #add8e6;
$turn-header-date-color: #b9c3c5;

$turn-scrollbar-color: #d1af81;

$turn-edit-icon-color: #16272c;
$turn-delete-icon-color: #d72929;
$turn-scissor-icon-color: #16272c;
$turn-copy-icon-color: #16272c;

$turn-scrollbar-margin: 12px;
$turn-upper-corners-radius: 14px;

$turn-upper-menu-lift: 20px;
$turn-upper-menu-padding-left: 10px;
$turn-upper-menu-padding-right: 10px;

$turn-header-padding-top: 6px;
$turn-header-padding-right: 15px;
$turn-header-padding-bottom: 6px;
$turn-header-padding-left: 15px;

$turn-header-text-padding-top: 10px;
$turn-header-text-padding-bottom: 6px;

$turn-header-url-date-margin-bottom: 5px;

$turn-pic-padding-top: 24px;
$turn-pic-padding-right: 24px;
$turn-pic-padding-bottom: 24px;
$turn-pic-padding-left: 24px;

$turn-text-padding-top: 5px;
$turn-text-padding-right: 15px;
$turn-text-padding-bottom: 15px;
$turn-text-padding-left: 25px;

$turn-pic-radius: 10px;

$turn-header-text-font-size: 24px;
$turn-header-text-font-weight: 600;

$turn-main-text-font-size: 18px;
$turn-main-text-font-weight: 600;












