html,
body {
  height: 100%;
}

.translucent .textBox {
  opacity: 0.4;
}

.textBox {
  cursor: move;
  transition: opacity 0.25s;
  min-width: 300px;
  max-width: 2000px;
  min-height: 50px;
  max-height: 3000px;
  /* width: 600px;
    height: 600px; */
  border: 1px black;
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0) !important;
  /* overflow: hidden; */
  z-index: 1;
}

.textBox.ui-widget-content {
  border: none;
}

.actions {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 5px;
  border: 0px solid #eee;
  z-index: 4;
}

.gameFieldWrapper {
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  /* border: 1px solid blue; */
}

#gameBox {
  /* min-height: 1000px; */
  border: none;
  width: 100vw;
  /* Было 100%, линии сбивались */
  height: 100vh;
  /* Было 100%, линии сбивались */
  overflow: hidden;
  background: #595959;
  /* #728db8; */
}

#image-url-wrapper {
  display: none;
}

.paragraphText {
  background-color: whitesmoke;
  min-height: 0;
  width: 100%;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 5px 15px 15px 15px;
  font-size: 1.15rem;
  border-bottom-left-radius: 10px;
}

.headerText {
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0;
  min-height: 0;
  /* max-height: 30%;  */
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  padding: 7px 15px 7px 15px;
  font-size: 1.45rem;
}

.gameMenu {
  height: 100%;
  margin: 0;
  width: 90%;
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
button {
  margin-left: 6px !important;
  font-size: 1.1rem !important;
}
.headerText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTextActions {
  display: flex;
  align-items: center;
}

.headerText .edit-btn,
.headerText .delete-btn {
  transition: 0.2s;
  font-size: 22px;
  display: inline-block;
  margin-left: 14px;
  cursor: pointer;
}
.headerText a.delete-btn {
  font-size: 21px;
  position: relative;
  top: -0.5px;
}
.headerText a.edit-btn,
.headerText a.delete-btn {
  color: rgb(160, 160, 160);
  margin-top: 0px;
}
.headerText a.edit-btn:hover {
  color: rgb(58, 58, 58);
}
.headerText a.delete-btn:hover {
  color: rgb(255, 92, 92);
}

.red-border-to-quote {
  outline: 3px solid red;
  padding-left: 3px;
  padding-right: 3px;
}

#lines.front-elements {
  z-index: 3;
}

.quotes-panel {
  position: absolute;
  left: 570px;
  bottom: 30px;
  background-color: white;
  min-width: 300px;
  z-index: 4;
}
.quotes-panel table {
  width: 100%;
}

#classMenu.hidden {
  transform: translateX(-100%);
  /* display: none;
    width: 0; */
}

#gameInfoPanel {
  transition: 0.3s;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: 4;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 15px;
}

#gameInfoPanel.hidden {
  transform: translate(-50%, -100%);
}

.p0 {
  padding: 0;
}

.video {
  position: relative;
}

.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0);
}

.ui-resizable-resizing .iframe-overlay {
  height: 100%;
}

.textBox .picture-content {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.textBox.comment-type .paragraphText {
  height: 100%;
  overflow-y: hidden;
}

.textBox.comment-type .paragraphText,
.textBox.comment-type .headerText {
  background: rgb(236, 237, 154);
}

/* два вместе, это два класса вместе, а пробел, это вложенность */

.ql-container {
  font-size: 1.35rem;
}

/* подписи для ссылки и для даты */
.left-bottom-label,
.right-bottom-label {
  position: absolute;
  /* bottom: -21px; */
  bottom: 5px;
  transform: translateY(100%);
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
}

.left-bottom-label {
  left: 0;
}

.left-bottom-label a {
  color: #fff;
}

.right-bottom-label {
  right: 0;
}
.addclass {
  font-size: 1.4rem;
}
.class-list {
  padding-left: 0;
  padding-right: 0;
  font-size: 1.1rem;
}

.class-list .title-block {
  padding-left: 3%;
  outline: 1px solid #000;
  height: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: lightgrey;
}

.class-list .title-block .title-name-input {
  padding: 0;
  margin: 0;
  margin-top: 1px;
  border: 2px solid #000;
  height: 100%;
  width: 100%;
}

.class-list .el {
  background: #fff;
  padding-left: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.class-list input {
  margin-left: 3%;
  width: 65%;
  display: inline-block;
}

#newClassName {
  margin-left: 5%;
  width: 70%;
  display: inline-block;
}

#classMenu {
  transition: 0.3s;
  background-color: #fff;
  overflow-y: scroll;
  height: 100vh;
  width: 500px;
  position: absolute;
  z-index: 4;
}

.title-button-add {
  background: url('/icons/add.svg') no-repeat center center;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.title-button-edit {
  background: url('/icons/edit.svg') no-repeat center center;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.title-button-delete {
  background: url('/icons/delete.svg') no-repeat center center;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.subclasses-block p {
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  flex-grow: 1;
}

.subclasses-block button {
  flex-shrink: 0;
  flex-grow: 0;
}

#notificationPanel {
  position: fixed;
  width: calc(min(25vw, 400px));
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

#notificationPanel .notification {
  /* background: #fff; */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  transition: 0.2s;
}

#notificationPanel .notification .hidden {
  opacity: 0;
}

#notificationPanel .notification .not-title {
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  padding-left: 10px;
  padding-right: 5px;
  color: rgb(143, 173, 255);
  font-size: 1.2rem;
}

#notificationPanel .notification .not-text {
  padding-left: 5px;
  padding-right: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  color: rgba(255, 255, 255, 0.712);
  font-size: 1.2rem;
}

#minimap {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 25vh;
  width: 20vw;
  z-index: 4;
}

#minimap video {
  height: 80%;
  width: 100%;
}

.game-info-table tbody tr:first-child td:first-child {
  width: 25%;
}

.ml-12px {
  margin-left: 12px;
}

.game-info-table .edit-btn {
  transition: 0.2s;
  font-size: 22px;
  display: inline-block;
  margin-left: 14px;
  cursor: pointer;
  transform: translateY(1px);
}
.game-info-table a.edit-btn {
  color: rgb(160, 160, 160);
  margin-top: 0px;
}
.game-info-table a.edit-btn:hover {
  color: rgb(58, 58, 58);
}

.minimap-panel {
  position: fixed;
  width: 17vw;
  height: 25vh;
  background: rgba(0,255,0,1);
  right: 0;
  bottom: 0;
}
