.picture-react-crop {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  // @learn BEM block element modifier спецификация
  .ReactCrop__crop-selection {
    position: absolute;
    border: none;
    cursor: move;
    @include red-border; // @learn mixin
  }
}
.drag-n-drop {
  border: 1px solid white;
  border-radius: 0.25rem;
  margin-top: 0.75rem;
  padding: 10px;
  font-size: medium;
  cursor: pointer;
  p {
    margin-bottom: 0px;
  }
}
