@import './picture.scss';

.react-turn-new {
  &.picture-only {
    background: rgba(0, 0, 0, 0);
    border-width: 0;
    .picture-content {
      padding: 0;
      .turn-img {
        border-radius: 0;
      }
    }
    .ui-icon {
      transform: translateY(-10px);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
  position: absolute;
  cursor: move;
  z-index: 2;
  // background-color: rgba(255, 255, 255, 0);
  background-color: $turn-main-color;
  display: flex;
  flex-direction: column;
  border-top-left-radius: $turn-upper-corners-radius;
  border-top-right-radius: $turn-upper-corners-radius;
  border-bottom-left-radius: $turn-upper-corners-radius;
  border-bottom-right-radius: $turn-upper-corners-radius;
  border: $turn-border-thickness solid $turn-border-color;
  padding-bottom: $turn-widget-bottom-spacer;
  .ui-icon {
    visibility: hidden;
  }
  &:hover {
    .ui-icon {
      visibility: visible;
    }
  }

  .ui-icon,
  .ui-widget-content .ui-icon {
    background-image: url(/js/jquery-ui/images/ui-icons_ffffff_256x240.png);
  }

  &.comment {
    .ui-icon,
    .ui-widget-content .ui-icon {
      background-image: url(/js/jquery-ui/images/ui-icons_444444_256x240.png);
    }
  }

  &:hover {
    .mod_icon_wrap {
      opacity: 1;
    }
  }

  &.dont-show-header {
    &:hover {
      .headerTextActions {
        transform: translateY(15%);
      }
    }

    .paragraphText:nth-child(2) {
      border-top-left-radius: $corners-radius;
      border-top-right-radius: $corners-radius;
    }

    .headerText {
      position: absolute;
      top: 0;
      background-color: rgb(115, 148, 207);
      // transform: translateY(-100%);
      justify-content: flex-end;
      display: none;
      z-index: 2;
      font-weight: 500;
    }

    .headerTextTitle {
      display: none;
    }

    .headerTextActions {
      transition: 0.25s;
      transform: translateY(-150%);
      margin-right: 20px;
    }
  }
  .bottom-date-and-sourceurl {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    padding-top: $turn-date-and-url-bottom-spacer;
  }

  .top-spaceholder {
    height: $turn-widget-bottom-spacer;
  }

  .picture-content,
  .wrapperParagraphText,
  .video {
    padding-top: $turn-widget-bottom-spacer;
  }

  .picture-content {
    z-index: 1;
    position: relative;
    border-top-left-radius: $turn-upper-corners-radius;
    border-top-right-radius: $turn-upper-corners-radius;
    // padding: $turn-pic-padding-top $turn-pic-padding-right
    //   $turn-pic-padding-bottom $turn-pic-padding-left;
    padding: $turn-widget-bottom-spacer $turn-pic-padding-right 0
      $turn-pic-padding-left;

    img {
      width: 100%;
    }

    &.active > div {
      outline: 4px solid blue;
      border-radius: $turn-pic-radius;
    }
    /* height: 100%; */
    background: $turn-main-color;

    img {
      width: 100%;
    }
  }

  .widget-button {
    position: absolute;
    border-radius: 25%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    right: 20px;
    bottom: 20px;
    color: white;
    opacity: 0;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  div:hover,
  p:hover {
    .widget-button {
      opacity: 1;
    }
  }

  .video {
    & > div {
      // > означает первый child
      // width: 100%
      height: 100%;
      border-radius: $turn-upper-corners-radius;
      overflow: hidden;
    }
    padding-left: $turn-widget-bottom-spacer;
    padding-right: $turn-widget-bottom-spacer;
  }

  .compressed-paragraph-widget {
    // right: calc(-40px - 100%);
    // position: absolute;
    // width: 100%;
    color: #fff;
    .paragraphText {
      // padding-top: 10px;
      // padding-bottom: 10px;
      // margin-top: 10px;
      // margin-bottom: 10px;

      box-shadow: 0 -1px 0 $turn-border-color;
      &:first-child {
        margin-top: 0;
        padding-top: 0;
        box-shadow: none;
      }
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  // right: -50px;
  // top: 0;
  // transform: translateX(100%);
  // width: 100%;

  .paragraphText {
    // flex: 1;
    // border-bottom: 1px solid grey;
    margin-bottom: 0;

    span {
      word-wrap: break-word;
    }
  }

  .paragraphText::-webkit-scrollbar {
    width: 0;
    height: 8px;
  }

  .paragraphText::-webkit-scrollbar-thumb {
    background-color: $turn-scrollbar-color;
    border-radius: 8px;
  }

  .paragraphText::-webkit-scrollbar {
    width: 6px;
    height: 79px;
  }

  .compressor {
    position: absolute;
    // background: white;
    // right: -110%;
    // right: -220%;
    // top: 40px;
    opacity: 0;
  }

  .compressor.debug {
    position: static;
    opacity: 1;
  }

  &.zero-point {
    visibility: hidden;
  }

  pre {
    margin-bottom: 0;
  }

  .telemetry {
    position: absolute;
    bottom: 0;
    transform: translateY(108%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
  }
}
