.panel {
  position: fixed;
  z-index: 4;
  background-color: $dark-grey;
  border: 2px solid $light-grey;
  border-radius: $corners-radius;
  transition: 0.2s;
  color: $white;
}

.text-cut-to-size {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-header {
  max-width: 20vw;
}

.max-paragraph {
  max-width: 20vw;
}
