#classMenu {
  // background-color: #fff;
  overflow-y: scroll;
  height: calc(100vh - 2 * #{$panels-spacer});
  width: 500px;
  top: $panels-spacer;
  left: $panels-spacer;
  transform: translateY(0%);
  &.hidden {
    transform: translateY(-120%);
  }
}

.addclass {
  font-size: 1.4rem;
}
.class-list {
  padding-left: 0;
  padding-right: 0;
  font-size: 1.1rem;
}

.class-list .title-block {
  padding-left: 3%;
  outline: 1px solid #000;
  height: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: lightgrey;
}

.class-list .title-block .title-name-input {
  padding: 0;
  margin: 0;
  margin-top: 1px;
  border: 2px solid #000;
  height: 100%;
  width: 100%;
}

.class-list .el {
  background: #fff;
  padding-left: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.class-list input {
  margin-left: 3%;
  width: 65%;
  display: inline-block;
}

#newClassName {
  margin-left: 5%;
  width: 70%;
  display: inline-block;
}

.title-button-add {
  background: url('/icons/add.svg') no-repeat center center;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.title-button-edit {
  background: url('/icons/edit.svg') no-repeat center center;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.title-button-delete {
  background: url('/icons/delete.svg') no-repeat center center;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.subclasses-block p {
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  flex-grow: 1;
}

.subclasses-block button {
  flex-shrink: 0;
  flex-grow: 0;
}
