#gameInfoPanel {
  // transition: 0.3s;
  // position: absolute;
  top: $panels-spacer;
  transform: translate(-50%, 0);
  left: 50%;
  // z-index: 4;
  // background: #fff;
  // border-bottom-left-radius: 3px;
  // border-bottom-right-radius: 3px;
  padding: 0 15px 15px;
}

#gameInfoPanel.hidden {
  transform: translate(-50%, -120%);
}
