.quotes-panel {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  width: 50vw;
  bottom: $panels-spacer;

  table {
    color: $white;
    border-radius: $corners-radius;

    &.table th {
      border-top: none;
    }
    &.table th,
    &.table td {
      border-top: none;
      padding: 0.5rem 0.5rem;
    }
  }
}
